version: '3.8'

services:
  fuel-planner:
    image: lennon101/racecraft:latest
    container_name: racecraft
    ports:
      - "5000:5000"
    volumes:
      - racecraft-data:/app/data
    command: ["python", "app.py"]
    restart: unless-stopped
    networks:
      - racecraft

volumes:
  racecraft-data:

networks:
  racecraft:
